<script type="text/x-handlebars-template">

    <div>

        {{#if options.label}}
        <legend class="{{#if options.labelClass}}{{options.labelClass}} {{/if}}alpaca-container-label">

            {{#if options.collapsible}}
            <span data-toggle="collapse">
            {{/if}}

            {{{options.label}}}

            {{#if options.collapsible}}
            </span>
            {{/if}}

        </legend>
        {{/if}}

        {{#if options.helpers}}
            {{#compare options.helpersPosition "above"}}
                {{#each options.helpers}}
                <p class="alpaca-helper help-block {{#if options.helperClass}}{{options.helperClass}}{{/if}}">
                    <i class="alpaca-icon-16 fas fa-info"></i>
                    {{#showMessage .}}{{/showMessage}}
                </p>
                {{/each}}
            {{/compare}}
        {{/if}}

        {{#container}}{{/container}}

        {{#if options.helpers}}
            {{#compare options.helpersPosition "below"}}
                {{#each options.helpers}}
                <p class="alpaca-helper help-block {{#if options.helperClass}}{{options.helperClass}}{{/if}}">
                    <i class="alpaca-icon-16 fas fa-info"></i>
                    {{#showMessage .}}{{/showMessage}}
                </p>
                {{/each}}
            {{/compare}}
        {{/if}}

    </div>

</script>
