<script type="text/x-handlebars-template">
  <div class="row mt-2 template-upload">
    <div class="col-auto">
        {{#if options.showUploadPreview}}
            <span class="preview"><img
                src=""
                alt=""
                data-dz-thumbnail=""
            /></span>
        {{/if}}
    </div>
    <div class="col d-flex align-items-center">
        <p class="mb-0">
            <span class="lead" data-dz-name=""></span>
                (<span data-dz-size=""><strong></strong></span>)
        </p>
        <strong class="error text-danger" data-dz-errormessage=""></strong>
    </div>
    <div class="col-4 d-flex align-items-center">
                <div
                    class="progress progress-striped active w-100"
                    role="progressbar"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    aria-valuenow="0"
                >
                    <div
                    class="progress-bar progress-bar-success"
                    style="width:0%;"
                    data-dz-uploadprogress=""
                    ></div>
                </div>
    </div>
    <div class="col-auto d-flex align-items-center">
      <div class="btn-group">
            {{#if options.autoUpload}}{{else}}
                <button class="btn btn-primary start">
                    <i class="fas fa-upload"></i>
                    <span>Start</span>
                </button>
            {{/if}}
            <button data-dz-remove="" data-file-index="{{../fileIndex}}" data-button-key="{{key}}" class="btn btn-warning cancel">
                <i class="fas fa-times-circle"></i>
                <span>Cancel</span>
            </button>
            <button data-dz-remove="" data-file-index="{{../fileIndex}}" data-button-key="{{key}}" class="btn btn-danger delete">
                <i class="fas fa-trash"></i>
                <span>Delete</span>
            </button>
            {{#if buttons}}
                {{#each buttons}}
                    <button class="{{key}} btn {{buttonClass}}" data-file-index="{{../fileIndex}}" data-button-key="{{key}}">
                        {{#if iconClass}}
                            <i class="{{iconClass}}"></i>
                        {{/if}}
                        {{#if label}}
                            {{label}}
                        {{/if}}
                    </button>
                {{/each}}
            {{/if}}
      </div>
    </div>
  </div>
</script>
