<script type="text/x-handlebars-template">
  <div class="row mt-2 template-download">
      {{#if file.error}}
          <div class="col-auto">
          </div>
          <div class="col d-flex align-items-center">
              <p class="mb-0">
                  <span class="lead" data-dz-name="">{{file.name}}</span>
                  {{#if file.size}}
                      (<span data-dz-size=""><strong>{{file.size}}</strong></span>)
                  {{/if}}
              </p>
              <strong class="error text-danger" data-dz-errormessage="">{{file.error}}</strong>
          </div>
          <div class="col-4 d-flex align-items-center">
              {{#compare @index 0}}
                  <div
                      class="progress progress-striped active w-100"
                      role="progressbar"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      aria-valuenow="100"
                  >
                      <div
                      class="progress-bar progress-bar-danger"
                      style="width:100%;"
                      data-dz-uploadprogress=""
                      ></div>
                  </div>
              {{/compare}}
          </div>
          <div class="col-auto d-flex align-items-center">
          </div>
      {{else}}
          <div class="col-auto">
              {{#if options.showUploadPreview}}
                  <a class="preview" href="{{file.url}}" target="_blank" title="{{file.name}}">
                      <img
                          src="{{file.thumbnailUrl}}"
                          alt="{{file.name}}"
                          data-dz-thumbnail=""
                      />
                  </a>
              {{/if}}
          </div>
          <div class="col d-flex align-items-center">
              <p class="mb-0">
                  <span class="lead" data-dz-name="">{{file.name}}</span>
                  {{#if file.size}}
                      (<span data-dz-size=""><strong>{{file.size}}</strong></span>)
                  {{/if}}
              </p>
          </div>
          <div class="col-4 d-flex align-items-center">
              {{#if file.valid}}
                  {{#compare @index 0}}
                      <div
                          class="progress progress-striped active w-100"
                          role="progressbar"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          aria-valuenow="100"
                      >
                          <div
                          class="progress-bar progress-bar-success"
                          style="width:100%;"
                          data-dz-uploadprogress=""
                          ></div>
                      </div>
                  {{/compare}}
              {{/if}}
          </div>
          <div class="col-auto d-flex align-items-center">
              <div class="btn-group">
                  {{#if buttons}}
                      {{#each buttons}}
                          {{#if isDelete}}
                              <button data-dz-remove="" class="btn btn-danger delete" data-file-index="{{../fileIndex}}" data-button-key="{{key}}">
                                  <i class="fas fa-trash"></i>
                                  <span>Delete</span>
                              </button>
                          {{else}}
                              <button class="{{key}} btn {{buttonClass}}" data-file-index="{{../fileIndex}}" data-button-key="{{key}}">
                                  {{#if iconClass}}
                                      <i class="{{iconClass}}"></i>
                                  {{/if}}
                                  {{#if label}}
                                      {{label}}
                                  {{/if}}
                              </button>
                          {{/if}}
                      {{/each}}
                  {{/if}}
              </div>
          </div>
      {{/if}}
  </div>
</script>
