<script type="text/x-handlebars-template">
    <div class="alpaca-fileupload-container {{#if cssClasses}}{{cssClasses}}{{/if}}">
        <div class="container-fluid">
            <div id="actions" class="row alpaca-fileupload-chooserow">
                <div class="col-lg-6">
                    <div class="btn-group w-100">
                        <span class="{{view.styles.button}} fileinput-button dz-clickable">
                            <i class="fas fa-plus"></i>
                            <span>{{chooseButtonLabel}}</span>
                            <input class="alpaca-fileupload-input" type="file" name="{{name}}_files">
                            <input class="alpaca-fileupload-input-hidden" type="hidden" name="{{name}}_files_hidden">
                        </span>
                        <span class="{{view.styles.button}} start">
                            <i class="fas fa-upload"></i>
                            <span>Upload All</span>
                        </span>
                    </div>
                    <strong class="error text-danger" dz-max-files-reached>You added too many files!</strong>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="fileupload-process w-100">
                        <div id="progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table table-striped" id="previews">
                {{#if options.showHeaders}}
                    <div id="" class="row mt-2">
                        <div class="col-auto">
                            {{#if options.showUploadPreview}}
                                <p class="mb-0">
                                    Thumbnail
                                </p>
                            {{/if}}
                        </div>
                        <div class="col d-flex align-items-center">
                            <p class="mb-0">
                                <span class="lead">Name</span>
                                (<span><strong>Size</strong></span>)
                            </p>
                        </div>
                        <div class="col-4 d-flex align-items-center">
                            <p class="mb-0">
                                Progress
                            </p>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <p class="mb-0">
                                Actions
                            </p>
                        </div>
                    </div>
                {{/if}}
                <div id="" class="row mt-2 files">
                </div>
            </div>
        </div>
    </div>
</script>
