<script type="text/x-handlebars-template">

    <div class="alpaca-fileupload-container {{#if cssClasses}}{{cssClasses}}{{/if}}">
        <div class="container-fluid">
            <div class="row alpaca-fileupload-chooserow">
                <div class="col-md-12">
                    <div class="btn-group">
                        <span class="{{view.styles.button}} fileinput-button">
                            <i class="fas fa-upload"></i>
                            <span class="fileupload-add-button">{{chooseButtonLabel}}</span>
                            <input class="alpaca-fileupload-input" type="file" name="{{name}}_files">
                            <input class="alpaca-fileupload-input-hidden" type="hidden" name="{{name}}_files_hidden">
                        </span>
                    </div>
                </div>
            </div>
            <div class="row alpaca-fileupload-well">
                <div class="col-md-12 fileupload-active-zone">
                    <table class="table table-striped">
                        {{#if options.showHeaders}}
                        <thead>
                            <tr>
                                {{#if options.showUploadPreview}}
                                    <td>Thumbnail</td>
                                {{else}}
                                    <td></td>
                                {{/if}}
                                <td>Name</td>
                                <td>Size</td>
                                <td colspan="2"></td><!-- error or start or progress indicator -->
                                <td>Actions</td>
                            </tr>
                        </thead>
                        {{/if}}
                        <tbody class="files">
                        </tbody>
                    </table>
                    <p align="center" class="dropzone-message">{{dropZoneMessage}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>