<script type="text/x-handlebars-template">

    <div class="help-block alpaca-message alpaca-message-{{{id}}} alert {{{messageclass}}}">
        <i class="fas fa-exclamation"></i>&nbsp;{{{message}}}
    </div>

</script>