<script type="text/x-handlebars-template">

    <div class="alpaca-merge-up">

        <!-- drag cell -->
        {{#if options.dragRows}}

            <!-- hidden sort order column -->
            <div class="alpaca-table-reorder-index-cell"></div>

            <!-- reorder draggable -->
            <div class="alpaca-table-reorder-draggable-cell">
                <i class="fas fa-bars"></i>
            </div>
        {{/if}}

        {{#each items}}
            {{#if hidden}}
            {{else}}
                {{#item}}{{/item}}
            {{/if}}
        {{/each}}

        <!-- actions cell -->
        {{#if options.showActionsColumn}}
            <div class="alpaca-merge-up" data-alpaca-merge-tag="td" data-merge-up-field-id="{{id}}">
                {{#arrayActionbar}}{{/arrayActionbar}}
            </div>
        {{/if}}

    </div>

</script>